src/index.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тест
        link(rel="stylesheet" href="css/style.min.css")
    body 
        .wrapper
            header.header
                input.input(type="checkbox" id="callback")
                label.btn(for="callback") Open pop-up button
                form.popup(action="#") 
                    div Pop-up
                    label.close(for="callback")
                        div X
            .container.section-one
                .section-one__block.section-one__block-one
                .section-one__block.section-one__block-two
                .section-one__block.section-one__block-three
                .section-one__block.section-one__block-four
                .section-one__block.section-one__block-five
            .container.section-two
                .section-two__block
                .section-two__block
                .section-two__block
                .section-two__block
            footer.footer
        script(src="js/app.min.js")
        

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест</title>
    <link rel="stylesheet" href="css/style.min.css?_v=20220629145127">
  </head>
  <body> 
    <div class="wrapper">
      <header class="header">
        <input class="input" type="checkbox" id="callback">
        <label class="btn" for="callback">Open pop-up button</label>
        <form class="popup" action="#"> 
          <div>Pop-up</div>
          <label class="close" for="callback">
            <div>X</div>
          </label>
        </form>
      </header>
      <div class="container section-one">
        <div class="section-one__block section-one__block-one"></div>
        <div class="section-one__block section-one__block-two"></div>
        <div class="section-one__block section-one__block-three"></div>
        <div class="section-one__block section-one__block-four"></div>
        <div class="section-one__block section-one__block-five"></div>
      </div>
      <div class="container section-two">
        <div class="section-two__block"></div>
        <div class="section-two__block"></div>
        <div class="section-two__block"></div>
        <div class="section-two__block"></div>
      </div>
      <footer class="footer"></footer>
    </div>
    <script src="js/app.min.js?_v=20220629145127"></script>
  </body>
</html>
